<template name="authentication">
    <div class="views">
        <div class="view view-main">
            <div class="pages navbar-fixed">
                <div class="page">
                    <div class="page-content login-screen-content">
                        <div class="login-screen-title">Hack of love</div>
                        <form id="authenticationForm">
                            <div class="list-block inputs-list">
                                <ul>
                                    <li class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title floating-label">Email</div>
                                            <div class="item-input item-input-field">
                                                <input id="emailInput" type="text" name="username" placeholder="Your username" autocomplete="off">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title floating-label">Password</div>
                                            <div class="item-input item-input-field">
                                                <input id="passwordInput" type="password" name="password" placeholder="Your password" autocomplete="off">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="content-block">
                                <a id="authenticateButton" href="#" class="button button-big" type="submit">Sign In</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>