<template name="navigation">
    <div class="maps-navbar-container">
        <div class="toolbar tabbar tabbar-labels">
            <div class="toolbar-inner">
                <a class="tab-link active">
                    <span class="tabbar-label">Maps</span>
                </a>
                <a class="tab-link">
                    <span class="tabbar-label">Team</span>
                </a>
                <span class="tab-link-highlight" style="width: 50%; transform: translate3d(0%, 0px, 0px);"></span>
            </div>
        </div>
    </div>
</template>